{% extends 'base.html.twig' %}

{% block title %} #{{ category.name }} {% endblock %}

{% block body %}
	<h1> La listes des séries </h1>
	<div>
	
	{% for program in programs %}
		<div>
			<a href="{{ path('program_show', {'id': program.id}) }}">{{ loop.index }} / {{ program.title }} </a>
		</div>
    {% else %}
        No Web Series found !
	{% endfor %}
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}