{% extends 'base.html.twig' %}

{% block title %}Category #{{ category.id }}
{% endblock %}

{% block body %}

	<div class="media">
		<img class="align-self-start mr-3" src="" alt="{{ category.name }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ category.name }}</h1>

			<h2>Programs :</h2>
			<ul>
				{% for program in programs %}
					<li>{{ program.title }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<a href="{{ path('category_index') }}">
		Retour à la liste des categories
	</a>
{% endblock %}
